@model AccountDto
@{
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manas Forum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css">
</head>
<body style="background: url('img/Manas_logo.png') no-repeat center;">
    <div>
        <div class="w-50 position-absolute top-50 start-50 translate-middle rounded p-2" style="background-color: rgba(69, 76, 86, 0.6);">
                @using (Html.BeginForm("LoginPost", "User", FormMethod.Post))
                {
                    <h3 class="text-center">Manas Forum</h3>
                    <h5 class="text-center">Вход</h5>
                    <h6 class="text-danger">@TempData["LoginError"]</h6>
                    <div class="form-floating-sm mb-3">
                         @Html.TextBoxFor(m => m.Login, new {placeholder = "Email", @class = "form-control" })
                    </div>
                    <div class="form-floating-sm mb-3">
                        @Html.PasswordFor(m => m.Password, new {placeholder = "Пароль", @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary float-end">Login</button>
                    <p>Нет аккаунта?  <a asp-action="SignUp">Регистрация</a></p>
                }
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>