<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manas Forum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css">
</head>
<body style="background: url('img/Manas_logo.png') no-repeat center;">
    <div>
        <div class="w-50 position-absolute top-50 start-50 translate-middle rounded p-2" style="background-color: rgba(190, 212, 210, 0.6);">
            <form action="">
                <h3 class="text-center">Manas Forum</h3>
                <h5 class="text-center">Регистрация</h5>
                <div class="form-floating-sm mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="1904.00000@manas.edu.kg">
                </div>
                <div class="form-floating-sm mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="ФИО">
                </div>
                <div class="form-floating-sm mb-3">
                    <input type="password" class="form-control" id="floatingInput" placeholder="Пароль">
                </div>
                <div class="form-floating-sm mb-3">
                    <input type="password" class="form-control" id="floatingInput" placeholder="Пароль еще раз">
                </div>
                
                <div>
                    <button type="submit" class="btn btn-primary float-end">Отправить</button>
                </div>
                <p>Уже есть аккаунт?  <a href="login.html">Вход</a></p>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>