body, html {
    height: 100%;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
.img-bg {
background-image: url("Manas_logo.png");

height: 100%; 

background-position: center;
background-repeat: no-repeat;
background-size: contain;
}
  